.container-top {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.container-top__wrapper {
  width: 100%;
  background-image: url("../../img/background/background-top@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.container-top__swiper-wrapper {
  max-width: 1370px;
  padding-left: 80px;
}

.container-top__swiper-slides {
  padding-top: 168px;
}
