.nav {
  padding-top: 56px;
}

.nav__button-buy {
  padding: 11px 24px;
  margin-right: 17px;
  border: none;
  background: #b84c74;

  @include font(13px, 17px, 400);
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: $second-color;
}

.nav__button-buy-basket {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $second-color;
  position: relative;
}

.nav__button-buy-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
