.sidebar__container {
  padding: 36px 0 25px 24px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar--open .sidebar__container {
  padding: 36px 24px 25px 24px;
}

.sidebar {
  width: 72px;
  background-color: #f2f6f7;
  overflow: hidden;
  transition: 0.4s ease-in-out;

  &--open {
    width: 300px;
    background-color: $second-color;
  }
}

.sidebar__logo {
  position: relative;
  width: 30px;
  height: 30px;
  margin-bottom: 46px;
  border-radius: 50%;
  background-color: #b84c74;
  display: block;
}

.sidebar__logo span {
  @include font(10px, 12px, 400);
  font-family: "Inter", "Arial", sans-serif;
  vertical-align: middle;
  text-transform: uppercase;
  color: $second-color;

  display: inline-block;
  padding: 9px 1px;
}

.sidebar--open .sidebar__logo {
  margin-bottom: 7px;
}

.sidebar__contats {
  visibility: hidden;
  max-height: 0;
}

.sidebar--open .sidebar__contats {
  width: 224px;
  padding-left: 33px;
  margin-bottom: 33px;
  visibility: visible;
  max-height: fit-content;
}

.sidebar--open .sidebar__contats a {
  display: block;
  color: #417a82;
}

.sidebar__contats span {
  display: block;
  margin-bottom: 4px;
  color: #417a82;
  text-align: center;
}

.sidebar__list {
  width: 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;
}

.sidebar__link {
  display: flex;
  width: 100%;
  position: relative;
}

.sidebar__link p {
  margin: 0;
}

.sidebar__link-icon {
  margin-right: 25px;
}

.sidebar__search {
  margin-top: auto;
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #417a82;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../img/sprite/search.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 13px;
  }
}

.sidebar__search input {
  border: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.sidebar--open .sidebar__search {
  width: 100%;
}
